body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}

#background-svg {
  /* position: fixed;
    top: 0;
    left: 0; */
  width: 100vw;
  height: 100%;
  z-index: -1;
}

#search-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70vw;
  max-width: 400px;
  margin: auto;
  /* margin-top: 50vh; */
  transform: translateY(-50%);
}

/* #search-bar {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 2% 4%;
  width: 100%;
  outline: none;
  font-size: 1.6vw;
  display: flex;
} */

/* #search-bar input {
  flex: 1;
  border: none;
  outline: none;
  font-size: 1.6vw;
} */
/* 
#search-icon {
  cursor: pointer;
  margin-right: 1%;
} */
/* 
#search-bar-buttons {
  display: flex;
  align-items: center;
  margin-left: auto;
} */

#clear-button,
#search-button {
  /* background: none; */
  border: none;
  cursor: pointer;
  /* margin: 0 1%; */
}

#button-divider {
  width: 1px;
  height: 70%;
  background: #ccc;
  margin: 0 1%;
}

.header {
  align-items: center;
  align-self: center;
  align-content: center;
}

.search-container-root {
  display: flex;
  flex-direction: row;
  max-width: 300px;
  width: 40vw;
  /* height: 2%; */
  /* width: auto; */
  /* margin: 0 auto; */
  box-shadow: slategrey;
  border-radius: 20px;
  border: 1px solid #5f6368;
  min-height: 44px;
  /* position: relative;
    background: ; */
  border: 1px solid red;
}

.form-css {
  display: flex;
  flex-direction: row;
}

.search-bar-content {
  /* flex: 1; */
  display: flex;
  flex-direction: row;
  /* padding: 5px 8px 0 14px; */
  border: 1px solid red;
}

.search-button {
  display: flex;
  align-items: center;
  border: 1px solid maroon;
  height: 46px;
  width: 10%;
}

.search-icon {
  display: flex;
  border: 1px solid green;
  width: 100%;
}

.search-button,
.search-clear-button,
.search-icon-inline {
  background: none; /* Remove background */
  border: none;
  cursor: pointer;
}

.search-button svg {
  cursor: pointer;
}

.search-clear-button {
  line-height: 20px;
  height: 70%;
  width: 40%;
  border: 1px solid green;
}

.search-clear-button svg {
  width: 100%;
  height: 100%;
  fill: currentColor; /* Add this line to inherit the text color as the SVG fill */
  cursor: pointer;
}

.search-icon-inline {
  line-height: 20px;
  height: 100%;
  width: 100%;
  border: 1px solid green;
}

/* .search-bar-content svg {
    display: flex;
    /* height: 100%; */
/* width: 50%;
    border: 1px solid black; */
/* }  */

.search-text-area {
  display: flex;
  /* flex-direction: r; */
  /* flex-wrap: wrap; */
  /* flex: 1; */
  border: 1px solid red;
  width: 100%;
}

.text-area {
  /* line-height: 30px; */
  overflow-x: hidden;
  background-color: transparent;
  outline: none;
  word-wrap: break-word;
  margin: 0;
  border: none;
  color: grey;
  border: 1px solid red;
  width: 100%;
  -moz-appearance: none; /* Firefox */
  -webkit-appearance: none; /* Chrome, Safari, Edge */
  appearance: none;
}

input[type="search"]::-webkit-search-clear-button,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

.search-clear-button-container {
  width: 10%;
}

.search-clear-button {
  /* align-items: stretch; */
  display: flex;
  /* flex-direction: row; */
  /* padding-right: 10px; */
  margin: 0 auto;
  border: 1px solid red;
  /* width: 10%;   */
  line-height: 20px;
  height: 70%;
  width: 100%;
  border: 1px solid green;
}
